<form action="/rand/results" method="get">
  <label for="minimum">Minimum</label>
  <input id="minimum" type="text" placeholder="Enter minimum value" name="user_min">
  
  <label for="maximum">Maximum</label>
  <input id="maximum" type="text" placeholder="Enter maximum value" name="user_max">

  <button type="submit">Pick Random Number</button>
</form>
